$white: #fff;
$bright: #eee;
$gray: #999;
$dark: #555;
$black: #222;

$primary: #0074c8;
$secondary: #054687;
$tertiary: #054687;

$safe: #229e20;

$danger: #b81919;
$danger-soft: rgb(240, 220, 220);

$font-color: $dark;
$background-color: $bright ;

$error-font-color: $danger;

$button-font-color: $bright;
$button-background-color: $secondary;
$button-border-color: $tertiary;
$button-disabled-font-color: $bright;
$button-disabled-background-color: $gray;
$button-disabled-border-color: $gray;

$input-background-color: $white;
$input-border-color: $tertiary;
$input-error-background-color: $danger-soft;
$input-error-border-color: $danger;

$elevated-background-color: $bright;

$border-background-color: $white;
$border-border-color: $gray;
